process {
    withName: 'NFCORE_SAREK:SAREK:BAM_CREATE_SOM_PON_GATK:GATK4_MUTECT2' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'NFCORE_SAREK:SAREK:BAM_CREATE_SOM_PON_GATK:GATK4_GENOMICSDBIMPORT' {
        ext.args   = { params.wes ? '--merge-input-intervals --genomicsdb-shared-posixfs-optimizations true --bypass-feature-reader' : '--genomicsdb-shared-posixfs-optimizations true --bypass-feature-reader' }
        ext.prefix = { meta.id }
        publishDir = [
            enabled: { !meta.pon_db_exists },
            mode: params.publish_dir_mode,
            path: { meta.pon_db_parent },
        ]
    }

    withName: 'NFCORE_SAREK:SAREK:BAM_CREATE_SOM_PON_GATK:GATK4_CREATESOMATICPANELOFNORMALS' {
        ext.prefix = { meta.id }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/pon/${meta.id}" },
            pattern: "*{vcf.gz,vcf.gz.tbi}",
        ]
    }
}
