// Pawsey Setonix nf-core configuration profile
resume = true
workDir = "$MYSCRATCH/nxf_work"
params {
    config_profile_description = 'Pawsey Setonix HPC profile to run Sarek'
    config_profile_contact     = 'Son Nguyen (@hsnguyen)'
    config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
    max_cpus                   = 64
    max_memory                 = 230.GB
    max_time                   = '1d'
    slurm_account              = "${System.getenv('PAWSEY_PROJECT')}"
    //slurm_account              = 'pawsey1152'
}
// Enable use of Singularity to run containers
singularity {
    enabled      = true
    autoMounts   = true
    autoCleanUp  = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir     = "$MYSOFTWARE/.nextflow_singularity"
    runOptions   = "--rocm"
}
// Submit up to 1000 concurrent jobs (the limit for work type is 1024 jobs)
executor {
    queueSize = 1000
}
// Define process resource limits
// See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
process {
    resourceLimits = [
        memory: params.max_memory,
        cpus: params.max_cpus,
        time: params.max_time
    ]
    executor       = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    module         = 'singularity/4.1.0-slurm'
    cache          = 'lenient'
    stageInMode    = 'symlink'
    queue = { task.memory <= 230.GB ? 'work' : 'highmem' }
    
    //due to base.conf set BCFTOOLS.* low resources (cpus=1*task.attempt, memory=1*task.attempt but maxRetries only set to 1)
    //either this or increase maxRetries	  
    withName: 'BCFTOOLS_MPILEUP' {
       cpus = 4
       memory = '8GB'
    }
    withName: 'SNPSIFT_ANNMEM' {
       ext.args = '-Xmx50G' 
       memory = '64GB'
    }
    maxRetries = 2    
    // suppress a known error from vcftools
    withName:VCFTOOLS_TSTV_COUNT {  
        errorStrategy = 'ignore'
    }
    withLabel: 'gpu' {
       clusterOptions = "--account=${params.slurm_account}-gpu --gpus-per-node=1 --gpus-per-task=1"
       executor = 'slurm'
       queue = 'gpu'
    }
}
timeline.overwrite = true
report.overwrite   = true
trace.overwrite    = true
